.row {
  cursor: pointer;
  background-color: #efefef;

  &:hover {
    background-color: #dedede;

    td:first-child:before {
      background-color: #dedede;
    }
  }

  & > td:first-child {
    position: relative;
    margin: 0 0 0 -20px;
    padding: 0 0 0 20px;
  }

  & > td:last-child {
    position: relative;
    margin: 0 -20px 0 0;
    padding: 0 0 0 0;
  }
}
