.wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 0 12px 0 0;
}

.icon-checkbox-wrapper {
  min-width: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.icon {
  display: block;
  min-width: 32px;
}

.checkbox {
  display: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 3px;
}

.icon-checkbox-wrapper:hover > .icon,
.checkbox:checked ~ .icon {
  display: none;
}

.icon-checkbox-wrapper:hover > .checkbox,
.checkbox:checked {
  display: block;
}

.text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
