.tableHeader {
  user-select: none;
  position: sticky;
  z-index: 100;
  top: 0;
  background: #efefef;
}

.column {
  user-select: none;
  position: relative;
  height: 40px;
  padding: 0;
}

.resizeHandleWrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  margin: 0 -8px 0 0;
  width: 25px;
  padding: 0 12px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizeHandle {
  height: 100%;
  width: 1px;
  max-width: 1px;
  background: rgba(0, 0, 0, 0.5);
  user-select: none;
  touch-action: none;
}
